<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../../static/styles.css">

</head>
<body >

<div th:fragment="header">

<div class="container-fluid custom-bg-color text-white">
    <div class="row">
        <div class="col">
            <form class="py-4 mb-0" action="#" th:action="@{/}" th:method="get">
                <button class="btn btn-info" type="submit">Home</button>
            </form>
        </div>
        <div class="col">
            <p class="text-center py-4 mb-0">Unsere CouchCrafter Bibliothek!</p>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>