<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neues Buch erstellen</title>
</head>
<body>
<h1>Neues Buch erstellen</h1>

<form action="/addBook" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>

    <label for="authors">Authors (semicolon-separated):</label><br>
    <input type="text" id="authors" name="authors"><br>

    <label for="isbn">ISBN:</label><br>
    <input type="text" id="isbn" name="isbn"><br>

    <label for="publisher">Publisher:</label><br>
    <input type="text" id="publisher" name="publisher"><br>

    <label for="publicationYear">Publication Year:</label><br>
    <input type="number" id="publicationYear" name="publicationYear"><br>

    <label for="genre">Genre:</label><br>
    <input type="text" id="genre" name="genre"><br>

    <label for="rating">Rating:</label><br>
    <input type="number" id="rating" name="rating" step="0.1" min="0" max="10"><br>

    <label for="amount">Amount:</label><br>
    <input type="number" id="amount" name="amount"><br>

    <button type="submit">Add Book</button>
</form>

</body>
</html>
