<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neue Aushleihe</title>
    <script src="lendJS.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{styles.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div th:replace="~{fragments/header.html :: header}"></div>

<div class="container mt-5">
<h1> Neue Ausleihe anlegen</h1>
<form action="/createLend" method="post" class="from-group">

    <label for="book_id">Book:</label><br>
    <select id="book_id" name="book_id" class="form-control">
        <option th:each="book : ${books}" th:value="${book.get('value')}" th:text="${book.get('key')}" ></option>
    </select><br>


    <label for="customer_id">Customer:</label><br>
    <select id="customer_id" name="customer_id"  class="form-control">
        <option th:each="customer : ${customers}" th:value="${customer.get('value')}" th:text="${customer.get('key')}"></option>
    </select><br>
    <label for="lendDate">Lend Date:</label><br>
    <input type="text" id="lendDate" name="lendDate" class="form-control"><br>

    <input type="hidden" id="returnDate" name="returnDate" value ="31.12.9999"><br>

    <input type="hidden" id="returnedBoolean" name="returnedBoolean" value ="false"><br>

    <br>

    <input type="submit" value="Submit" class="btn btn-primary">
</form>

</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>