<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neue Aushleihe</title>
    <script src="lendJS.js" defer></script>
</head>
<body>
<h1> Neue Ausleihe anlegen</h1>
<form action="/createLend" method="post">

    <label for="book_id">Book:</label><br>
    <select id="book_id" name="book_id">
        <option th:each="book : ${books}" th:value="${book.get('value')}" th:text="${book.get('key')}"></option>
    </select><br>


    <label for="customer_id">Customer:</label><br>
    <select id="customer_id" name="customer_id">
        <option th:each="customer : ${customers}" th:value="${customer.get('value')}" th:text="${customer.get('key')}"></option>
    </select><br>
    <label for="lendDate">Lend Date:</label><br>
    <input type="text" id="lendDate" name="lendDate"><br>

    <input type="hidden" id="returnDate" name="returnDate" value ="31.12.9999"><br>

    <label for="returnedBoolean">Returned:</label><br>
    <select id="returnedBoolean" name="returnedBoolean">
        <option value="false">No</option>
        <option value="true">Yes</option>

    </select><br><br>

    <input type="submit" value="Submit">
</form>
</body>

</html>