<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>LendStats</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link th:href="@{styles.css}" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    .canvas-container {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
    .canvas-container > div {
      flex: 1;
      padding: 0 10px;
    }
    .canvas-container canvas {
      width: 100%;
      height: auto;
      border: 1px solid black;
    }
  </style>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<h1>Bib Statistik</h1>

<div class="canvas-container">
  <div>
    <h5>Bücher im Umlauf</h5>
    <div>
      <canvas id="lendStatsChart1"></canvas>
    </div>
  </div>
  <div>
    <h5>Gerne Verteilung</h5>
    <div>
      <canvas id="lendStatsChart2"></canvas>
    </div>
  </div>
  <div>
    <h5>Entstehungsjahr Verteilung</h5>
    <div>
      <canvas id="lendStatsChart3"></canvas>
    </div>
  </div>
</div>
<div class="canvas-container">
  <div>
    <h5>Meist Ausgeliehenen Bücher</h5>
    <div>
      <canvas id="lendStatsChart4"></canvas>
    </div>
  </div>
  <div>
    <h5>Gerne Verteilung</h5>
    <div>
      <canvas id="lendStatsChart5"></canvas>
    </div>
  </div>
  <div>
    <h5>Entstehungsjahr Verteilung</h5>
    <div>
      <canvas id="lendStatsChart6"></canvas>
    </div>
  </div>
</div>



<div id="returnedCount" th:text="${returnedCount}" style="display: none;">1</div>
<div id="notReturnedCount" th:text="${notReturnedCount}" style="display: none;">2</div>
<div id="genreData" style="display: none;">[[${genreData}]]</div>
<div id="groupYear" style="display: none;">[[${groupYear}]]</div>
<div id="mostLendedBook" style="display: none;">[[${mostLendedBook}]]</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
  function setCanvasSize(canvas) {
    var dpr = window.devicePixelRatio || 1;
    var rect = canvas.getBoundingClientRect();
    canvas.width = rect.width * dpr;
    canvas.height = rect.height * dpr;
    var ctx = canvas.getContext('2d');
    ctx.scale(dpr, dpr);
  }

  function initializeCharts() {

    var returnedCount = parseInt(document.getElementById('returnedCount').innerText);
    var notReturnedCount = parseInt(document.getElementById('notReturnedCount').innerText);

    var genreDataRaw = document.getElementById('genreData').innerText;
    var genreArray = JSON.parse(genreDataRaw);

    var groupYearDataRaw = document.getElementById('groupYear').innerText;
    var groupYearData = JSON.parse(groupYearDataRaw);

    var mostLendedDataRaw = document.getElementById('mostLendedBook').innerText;
    var mostLendedData = JSON.parse(mostLendedDataRaw);

    var genreLabels = genreArray.map(item => item.key);
    var genreValues = genreArray.map(item => item.value);

    var yearLabels = groupYearData.map(item => item.key);
    var yearValues = groupYearData.map(item => item.value);

    var mostLendedLabel = mostLendedData.map(item => item.key);
    var mostLendedValues = mostLendedData.map(item => item.value);

    // Definieren der Farben für die Bar-Chart
    var colors = ["rgba(0, 203, 6, 0.8)", "rgba(143, 43, 178, 0.8)", "rgba(255, 99, 132, 0.8)", "rgba(54, 162, 235, 0.8)", "rgba(255, 206, 86, 0.8)", "rgba(75, 192, 192, 0.8)", "rgba(153, 102, 255, 0.8)"];
    var genreColors = genreArray.map((item, index) => colors[index % colors.length]);

    // Definieren der Daten für die Pie-Chart
    var lendedData = {
      labels: ["Zurückgegeben", "Nicht zurückgegeben"],
      datasets: [{
        data: [returnedCount, notReturnedCount],
        backgroundColor: ["rgba(0, 203, 6, 0.8)", "rgba(143, 43, 178, 0.8)"],
      }]
    };

    // Definieren der Daten für die Bar-Chart
    var genreData = {
      labels: genreLabels,
      datasets: [{
        data: genreValues,
        backgroundColor: genreColors // Verwenden der dynamischen Farben
      }]
    };

    var yearData = {
      labels: yearLabels,
      datasets: [{
        label: 'Test',
        data: yearValues,
        backgroundColor: genreColors // Verwenden der dynamischen Farben
      }]
    };

    var mostLended = {
      labels: mostLendedLabel,
      datasets: [{
        data: mostLendedValues,
        backgroundColor: genreColors // Verwenden der dynamischen Farben
      }]
    };

    // Optionen für die Charts
    var pieOptions = {
      responsive: true
    };

    // Erstellen der Pie-Chart für die Rückgabe-Daten
    var lendStatsChart1 = new Chart(document.getElementById('lendStatsChart1').getContext('2d'), {
      type: 'pie',
      data: lendedData,
      options: pieOptions
    });

    // Erstellen der Bar-Chart für die Genre-Daten
    var lendStatsChart2 = new Chart(document.getElementById('lendStatsChart2').getContext('2d'), {
      type: 'bar',
      data: genreData,

    });

    // Erstellen der Line-Chart für die Jahres-Daten
    var lendStatsChart3 = new Chart(document.getElementById('lendStatsChart3').getContext('2d'), {
      type: 'line',
      data: yearData,

    });

    // Erstellen der Bar-Chart für die am meisten ausgeliehenen Bücher
    var lendStatsChart4 = new Chart(document.getElementById('lendStatsChart4').getContext('2d'), {
      type: 'bar',
      data: mostLended,
      options: {
        indexAxis: 'y'
      }
    });
  }

  // Setze die Größe der Canvas-Elemente und initialisiere die Charts
  document.querySelectorAll('canvas').forEach(canvas => {
    setCanvasSize(canvas);
  });
  initializeCharts();  // Die Charts müssen erst initialisiert werden, nachdem die Canvas-Größen gesetzt sind

  // Initialisiere die Charts erneut bei Fenstergrößenänderung
  window.addEventListener('resize', () => {
    document.querySelectorAll('canvas').forEach(canvas => {
      setCanvasSize(canvas);
    });
    initializeCharts();
  });


</script>
</body>
</html>
